/* Custom color theme properties */
:root {
  --zmp-theme-color: #376aed;
  --zmp-theme-color-rgb: 55, 106, 237;
  --zmp-theme-color-shade: #1550e6;
  --zmp-theme-color-tint: #5c86f0;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: initial;
  src: url("../static/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url("../static/fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url("../static/fonts/AvenirLTStd-Black.otf");
}

body * {
  font-family: "Avenir";
}

.home-page{
  padding-bottom: 80px;
}
/* Your app custom styles here */
.splash-screen {
  background: #ffffff;
  background-image: linear-gradient(50.28deg, #ffffff 60.83%, #f4f7ff 80.87%);
  background-image: url("/src/static/images/decoration.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    display: block;
    width: 160px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.image-card {
  width: 100%;
  height: max-content;
  overflow: hidden;
  box-shadow: 0px 16px 32px rgba(13, 37, 60, 0.44);
  border-radius: 24px;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.onboarding {
  .onboarding-images-wrapper {
    max-width: 330px;
    .onboarding-images-row {
      .onboarding-image {
        height: 157px;
        width: auto;
        &.image-card img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}

.page {
  background-color: #f7f9ff;
}

.link {
  font-size: 14px;
  line-height: 19px;
  color: #376AED;
  font-weight: 500;
}

.carousel-wrapper {
  background: #ffffff;
  box-shadow: 0px -25px 32px rgba(82, 130, 255, 0.07);
  border-radius: 28px 28px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.carousel {
  width: 100%;
  display: inline-flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  .carousel {
    scroll-behavior: auto;
  }
}
.carousel-control {
  width: 88px;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  .icon {
    display: block;
    margin-right: 0;
  }
}
.carousel-dots {
  display: flex;
  flex-direction: row;
  .carousel-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #dee7ff;
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  .carousel-dot-active {
    transition: width 0.25s ease-in-out;
    width: 23px;
    height: 8px;
    background: #376aed;
    border-radius: 26px;
  }
}

.noti-icon-wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  .noti-badge {
    width: 12px;
    height: 12px;
    left: 6px;
    top: 6px;
  }
  img {
    width: 22px;
    height: 23px;
  }
}

