.app-tabbar {
  width: 100%;
  height: 82px;
  border: none;
}

.toolbar.tabbar .toolbar-inner .link,
.toolbar.tabbar .toolbar-inner .tab-link {
  position: relative;
  overflow: visible;
}
.toolbar.tabbar .toolbar-inner {
  overflow: visible;
  padding: 0 24px;
  height: 100%;
}
.write-blog {
  width: 56px;
  height: 56px;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.navbar-item-label {
  margin-top: 6px;
}
.tab-link-active .navbar-item-label {
  color: #0047cc;
}